# Commit Rules

- gitコミットを作成するときは以下のルールに従ってください。
  - コミットメッセージは conventional commitのフォーマットに従ってください
  - コミット前に必ずファイルの修正内容を確認してください。修正内容をコミットメッセージに反映してください
    - ファイルの修正内容を確認するときは `git --no-pager diff` コマンドで確認してください
  - コミットメッセージは差分の重要な点を1~3行程度に要約して日本語で記述してください

