### all ignore ###
/*
/.**

### not ignore ###
!/.gitignore
!/README.md
!/LICENSE
!/.zshenv
!/.zprofile
!/.zshrc
!/init.sh
!/.zsh
!/.zsh/completion
/.zsh/completion/**
!/.nanorc
!/.github
!/.github/workflows
!/.github/workflows/*
!.gitkeep