### all ignore ###
/*
/.**

### not ignore ###
!/.gitignore
!/.zshrc
!/.zprofile
!/.zshenv
!/Taskfile.dist.yml
!/plugins
!/plugins/defer
!/plugins/defer/**
!/plugins/sync
!/plugins/sync/**
!/sheldon
!/sheldon/plugins.toml
